body {
    background-image: url('../../../assets/background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-clip: border-box;
    padding-top: 0%;
    opacity: 0.93;
}

.background {
    background-image: url('../../../assets/background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-clip: border-box;
}

.box {
    max-width: 100%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    opacity: 0.93;
}

.box>* {
flex: 1 1 250px;
}

.example-card {
    max-width: 300px;
}

.example-header-image {
    background-size: cover;
  }

mat-card {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
}

mat-card-content {
    padding: 10px;
    margin: 10px;
}

mat-card-title {
    display: -webkit-box; /* use the old flexbox syntax for compatibility */
    -webkit-box-orient: vertical; /* set the direction of the flexbox */
    -webkit-line-clamp: 1; /* set the maximum number of lines */
    overflow: hidden; /* hide any text that overflows the max-height */
    line-height: 1.2em; /* set the height of one line */
    height: 1.6em; /* set the height of three lines */
}

mat-card-subtitle {
    color: white;
    margin-bottom: 10px;
}

mat-card img {
    width: 100%;
    height: 200px; /* set a fixed height or use a consistent aspect ratio */
    object-fit: contain; /* to ensure the image covers the entire space */
    background-color: black;
}

.store-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}