<nav *ngIf="isLoggedIn">
    <div class="logoContainer">
        <a routerLink="/" style="cursor:pointer">GAMESDEALS.COM</a> 
    </div>
    
    <ul>
        <li *ngIf="role == 'ADMIN'">
            <a routerLink="/api/dashboard" style="cursor:pointer">Admin Dashboard</a>
        </li>
        <li>
            <a routerLink="/api/search" style="cursor:pointer">Search games</a>
        </li>
        <li>
            <a routerLink="/api/stores" style="cursor:pointer">Stores</a>
        </li>
        <li>
            <a (click)="logout()" style="cursor:pointer">Logout</a>
        </li>
    </ul>
</nav>

<router-outlet (activate)="checkIfLoggedIn()"></router-outlet>