body {
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    min-height: 5vh;
    background-color: rgb(69, 69, 69);
    align-items: center;
    font-family: sans-serif;
}

nav .logoContainer{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav div a{
    color: rgb(255, 255, 255); 
}

nav ul{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width:25% ;
}

nav ul li a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: white;
}

nav li a:hover{ 
    color: rgb(102, 173, 233); 
}

.form-container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container::before{
    content: "";
    background: url('../../../assets/background.jpg') no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}
.form-background{
    position: relative;
    width: 400px;
    height: 330px;
    background-color: #000000d8;
    padding: 20px;
    display: table;
}
.example-card {
    max-width: 400px;
  }
.example-header-image {
    background-image: url('../../../assets/ticket.jpg');
    background-size: cover;
}
